media/
venv/
.vscode/
.env
greatkart/migrations/
greatkart/__pycache__/
thesite/migrations/
thesite/__pycache__/
category/migrations/
category/__pycache__/
extras/migrations/
extras/__pycache__/
accounts/migrations/
accounts/__pycache__/
store/migrations/
store/__pycache__/
db.sqlite3